<div class="card mb-2">
    <div class="card-header bg-dark text-white">
        <h5>STATS</h5>
    </div>
<div class="card-body bg-dark text-white">
    <p>
        <span class="material-symbols-outlined">imagesmode</span>
        <span>Images: {{sidebar.stats.images}}</span>
    </p> 
    <p>
        <span class="material-symbols-outlined">chat</span>
        <span>Comments: {{sidebar.stats.comments}}</span>
    </p>
    <p>
        <span class="material-symbols-outlined">visibility</span>
        <span>Views: {{sidebar.stats.views}}</span>
    </p>
    <p>
        <span class="material-symbols-outlined">thumb_up</span>
        <span>Likes: {{sidebar.stats.likes}}</span>
    </p>
</div>
</div>